.counter {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
}

.counter__content {
    font-size: 30px;
    padding: 10px 30px;
    text-align: center;
    font-weight: 700;
    background-color: #bdcdd6;
    border-radius: 10px;
    margin-bottom: 10px;
}
.counter__error {
    display: block;
    font-size: 10px;
    color: red;
}
.counter__inputs {
    margin-bottom: 10px;
    text-align: center;
}
.counter__inputs input:first-of-type {
    margin-right: 10px;
}

.counter__input {
    border: 1px solid #bdcdd6;
    border-radius: 5px;
}
.input_error {
    border: 2px solid red;
    outline: none;
}
.red {
    color: red;
}
.counter__buttons {
    display: flex;
    gap: 20px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}

